<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\SmartStandards.AiSupport.DemoWebService.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile="C:\Temp\SmartStandards.AiSupport.DemoWebService.asphost.log"
                  hostingModel="inprocess" />      
    </system.webServer>
    <system.web>
      <hostingEnvironment shadowCopyBinAssemblies="true" />
    </system.web>
  </location>
</configuration>